<!DOCTYPE html>
<html lang="en">
<head>
  <head>
    <meta charset="utf-8">
    <Title> Daily Add Cases</Title>
    <link rel="icon" type="image/x-icon" href="/public/assets/images/dlsu-icon.ico">

    <!-- BOOTSTRAP -->
    
    <!-- CSS only -->
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    
     <!-- JavaScript Bundle with Popper -->
     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
    
     <!-- BOOTSTRAP -->


    <link href= "/public/assets/css/index.css" rel="stylesheet" />

    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
 
<div class="container">

  <form action="../covidnum/adddataweekly" method="post">
    <div class="form-group">
      <label for="cases">Week number:</label>
      <input type="number" class="form-control" id="weeknum" name="weeknum" required>
    </div>
    <div class="form-group">
      <label for="cases">Additional Cases:</label>
      <input type="number" class="form-control" id="addcases"name="addcases" required>
    </div>
    <div class="form-group">
      <label for="death">Additional Deaths:</label>
      <input type="number" class="form-control" id="adddeath" name="adddeath" required>
    </div>
    <div class="form-group">
      <label for="rec">Additional Recoveries:</label>
      <input type="number" class="form-control" id="addrec" name="addrec" required>
    </div>
    <div class="form-group">
      <label for="sev">Additional Severe Cases:</label>
      <input type="number" class="form-control" id="addsev" name="addsev" required>
    </div>

    <p style="color:red"><%=err%></p>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  <a href="/adminweekly" class="btn btn-sm btn-primary">Go Back</a>
</div>
<div id="google_translate_element"></div>
 
</body>
<script type="text/javascript">
  function googleTranslateElementInit() {
      new google.translate.TranslateElement(
          {pageLanguage: 'en'},
          'google_translate_element'
      );
  }
</script>

<script type="text/javascript"
      src=
"https://translate.google.com/translate_a/element.js?
cb=googleTranslateElementInit">
</script>
</html>